In [4]:
import pandas as pd

In [6]:
S=pd.Series(["AI", "Accountant", "Data Science", "Web"])
print(S)

0              AI
1      Accountant
2    Data Science
3             Web
dtype: object

In [7]:
import random

papers = ['A','B','C']

q_list = [random.choice(papers) for i in range(40)]
print(q_list)

['A', 'A', 'A', 'B', 'C', 'C', 'B', 'A', 'C', 'A', 'A', 'A', 'C', 'C', 'B', 'B', 'A', 'A', 'A', 'B', 'B', 'B', 'A', 'A', 'B', 'B', 'C', 'A', 'B', 'C', 'A', 'B', 'C', 'B', 'A', 'A', 'A', 'B', 'B', 'C']

In [37]:
import pandas as pd
fruits = ["apples", "oranges", "cherries", "pears"]
fruits_ro = ["mere", "portocale", "cirese", "pere"]
S = pd.Series([20, 33, 52, 10], index=fruits)
S2 = pd.Series([17, 13, 311, 32], index=fruits_ro)

print(S+S2)
print("sum of S:", sum(S))

apples      NaN
cherries    NaN
cirese      NaN
mere        NaN
oranges     NaN
pears       NaN
pere        NaN
portocale   NaN
dtype: float64
sum of S: 115

In [8]:
import secrets

In [9]:
import string

In [10]:
letters = string.ascii_letters
digits = string.digits
special_chars = string.punctuation

In [11]:
alphabet = letters + digits + special_chars

In [14]:
pwd_length = 12

In [16]:
pwd = ''
for i in range(pwd_length):
  pwd += ''.join(secrets.choice(alphabet))

print(pwd)

7~YBBLXQZSE@

In [19]:
while True:
  pwd = ''
  for i in range(pwd_length):
    pwd += ''.join(secrets.choice(alphabet))

  if (any(char in special_chars for char in pwd) and 
      sum(char in digits for char in pwd)>=2):
          break
print(pwd)

s9_B;O4~\Wg\

In [20]:
# necessary imports

import secrets
import string

# define the alphabet
letters = string.ascii_letters
digits = string.digits
special_chars = string.punctuation

alphabet = letters + digits + special_chars

# fix password length
pwd_len = 10

# generate a password string
pwd = ''
for i in range(pwd_len):
  pwd += ''.join(secrets.choice(alphabet))

print(pwd)

# generate password meeting constraints
while True:
  pwd = ''
  for i in range(pwd_len):
    pwd += ''.join(secrets.choice(alphabet))

  if (any(char in special_chars for char in pwd) and 
      sum(char in digits for char in pwd)>=2):
          break
print(pwd)

8I`IrG;@~:
D]J2ZIP~s7

In [23]:
import numpy as np

In [30]:
def df_style(val):
    return "font-weight: bold"

data = {'Fruits': ["apple", "pears", "carrots", "mangoes", "pineapple"],
        "Qty": [50, 35, 45, 63, 76]
        }

df = pd.DataFrame(data)

print (df)

      Fruits  Qty
0      apple   50
1      pears   35
2    carrots   45
3    mangoes   63
4  pineapple   76

In [38]:
import numpy as np
import pandas as pd
my_numpy_array=np.random.randn(3,4)
df=pd.DataFrame(my_numpy_array, columns=list("abcd"))
print(df)

          a         b         c         d
0  0.547554  0.448218 -0.625509 -0.464262
1  0.278026 -0.249208  0.836408 -0.213583
2  2.668534 -0.976172  0.802909 -0.766572

In [72]:
valuedseed ={"SME":["Taiwo", "Akinyeye", "Lucky", "Kemisola", "Samuel", "Kehinde"],
            "Courses":["Yoruba", "Maths Basic", "Computer", "Science", "Math Advanced", "CRS"],
            "Levels":["Level 1 - 6", "Level 1 - 6", "Level 1 - 9", "Level 1 - 12", "Level 7 - 12", "Level 1 - 9"]}
valued_frame = pd.DataFrame(valuedseed)

print(valued_frame)

        SME        Courses        Levels
0     Taiwo         Yoruba   Level 1 - 6
1  Akinyeye    Maths Basic   Level 1 - 6
2     Lucky       Computer   Level 1 - 9
3  Kemisola        Science  Level 1 - 12
4    Samuel  Math Advanced  Level 7 - 12
5   Kehinde            CRS   Level 1 - 9

In [73]:
valued_frame = valued_frame.set_index("SME")
print(valued_frame)

                Courses        Levels
SME
Taiwo            Yoruba   Level 1 - 6
Akinyeye    Maths Basic   Level 1 - 6
Lucky          Computer   Level 1 - 9
Kemisola        Science  Level 1 - 12
Samuel    Math Advanced  Level 7 - 12
Kehinde             CRS   Level 1 - 9

In [74]:
valued_frame[valued_frame["Levels"]=="Level 1 - 6"]

              Courses       Levels
SME
Taiwo          Yoruba  Level 1 - 6
Akinyeye  Maths Basic  Level 1 - 6

In [75]:
valued_frame[valued_frame["Levels"]=="Level 1 - 9"]

          Courses       Levels
SME
Lucky    Computer  Level 1 - 9
Kehinde       CRS  Level 1 - 9

In [50]:
import pandas as pd

data = [[9, 28, 35], [42, 15, 9], [15, 14, 2]]

df = pd.DataFrame(data)

print(df.describe())

               0         1          2
count   3.000000   3.00000   3.000000
mean   22.000000  19.00000  15.333333
std    17.578396   7.81025  17.387735
min     9.000000  14.00000   2.000000
25%    12.000000  14.50000   5.500000
50%    15.000000  15.00000   9.000000
75%    28.500000  21.50000  22.000000
max    42.000000  28.00000  35.000000